<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Data Drive</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input ng-model="query" type="text" class="form-control" placeholder="Search">
      </div>
    </form> 
  </div>
</nav>
<hgroup class="page-header">
  <h1>Upcoming Events</h1>
</hgroup>

<section class="event well" ng-repeat="event in calendarEvents | filter:query">
  <h1>{{ event.title }}</h1>
  <p><strong>Date:</strong> {{ event.startTime | date:'fullDate' }}</p>
  <p><strong>Time:</strong> {{ event.startTime | date:'shortTime'}} - {{ event.endTime | date:'shortTime'}}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
  <p ng-bind-html="event.description | markdown"></p>
</section>
